<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg navbar-light" style="margin-left: 450px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="col-lg-9">
  </span>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link register" href="#">Return <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link register" href="#">Help</a>
      </li>
      <li class="nav-item">
        <a class="nav-link register" href="#">Register / Sign In</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Nav Bar End-->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<hr style="border-block-color: gray;border: 1px solid #D2D2D2;">
<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg mt-5 ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <i class="fa fa-search ms-5 mb-4" aria-hidden="true"></i> -->
  <span class="pi pi-search ms-5 mb-4" style='font-size:20px;'></span>
  <div class="collapse navbar-collapse " id="navbarSupportedContent" style="margin-left: 121px;">
    <ul class="navbar-nav mr-auto ms-auto">
      <li class="nav-item">
      </li>
      <li class="nav-item active">
        <a class="nav-link  shop" href="#">SHOP
          <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link essential" href="#">ESSENTIALS</a>
      </li>
      <li class="nav-item mb-5">
        <a class="nav-link macEss mt-xl-auto" href="#">Macc<br>
          <span class="text-primary ">Essentials</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link  bestSeller" href="#">BEST SELLERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  about" href="#">ABOUT US</a><span>
        </span>
      </li>
      <span style="margin-left: 1120px;">
        <i class="pi pi-user" aria-hidden="true" style='font-size:20px;'></i>
        <i class="pi pi-bell ms-4" aria-hidden="true" style='font-size:20px;'></i>
        <i class="pi pi-shopping-bag ms-4" style='font-size:20px;'></i></span>
    </ul>
    <div>
    </div>
  </div>
</nav>

<!-- Nav Bar End-->
<!-- -------------------------------------------------------------------------------------------------------------------------------- -->

<div class="row mt-5 ms-2 mb-5 background" *ngFor="let data of jsonData">
  <div class="col-sm-7 dark provide mt-4 ms-5">
    <h1 class="mt-2 ms-5 mt-5 providingService">{{data.provideServices}}<br><span>{{data.atYourDoor}}</span></h1>
    <div class="macEssential mt-2">
      <span class="text-black ms-5 s2">{{data.maccEssentials}}</span><span
        class="text-secondary s1">{{data.sentence1}}</span>
      <br>
      <span class="text-secondary ms-5 s1">{{data.sentence2}}</span><br>
      <span class="text-secondary ms-5 s1"> {{data.sentence3}}</span><br>
      <span class="text-secondary ms-5 s1">{{data.sentence4}}</span> <br>
      <button type="button" class="btn btn-danger ms-5 mt-4 learnMore">LEARN MORE</button>
    </div>
  </div>
  <div class="col-sm-2 mt-5 mb-5">
    <img src="../assets/cover_img (1).jpg" alt="Girl in a jacket" width="500" height="400">
  </div>
</div>
<div class="mt-3  d-flex justify-content-center mt-5">
  <h2 class="new newProduct">NEW<span class="product newProduct"> PRODUCTS</span></h2>
</div>

<!-- ------------------------------------------------------------------------------------------------------------------------------ -->
<!-- carousel start -->

<div class="row ms-5 mt-2" *ngFor="let data of jsonData">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row">
          <div class="col-sm-4">
            <div class="card border-0" style="width: 18rem;">
              <img class="d-block" src="../assets/topSeller.jpg" alt="First slide" width="450">
              <h5 class="card-title text-center">{{data.bodySpray}}</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0" style="width: 18rem;">
              <img class="d-block" src="../assets/AXE.jpg" alt="First slide" width="450">
              <h5 class="card-title text-center">{{data.bodySpray}}</h5>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0" style="width: 18rem;">
              <img class="d-block" src="../assets/stayNew.jpg" alt="First slide" width="450">
              <h5 class="card-title text-center">{{data.bodySpray}}</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-4">
              <div class="card border-0">
                <img class="d-block" src="../assets/topSeller.jpg" alt="Second slide" width="450">
                <h5 class="card-title text-center">{{data.bodySpray}}</h5>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border-0">
                <img class="d-block" src="../assets/AXE.jpg" alt="Second slide" width="450">
                <h5 class="card-title text-center">{{data.bodySpray}}</h5>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card border-0">
                <img class="d-block" src="../assets/stayNew.jpg" alt="Second slide" width="450">
                <h5 class="card-title text-center">{{data.bodySpray}}</h5>
              </div>
            </div>
          </div>
        </div>
        <h1>Mask</h1>
      </div>
    </div>
    <a class="carousel-control-prev carouselExampleControlsLeft" href="#carouselExampleControls" role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-right: 180px;margin-top: 73px;"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" style="margin-left: 143px;margin-top: 66px;"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- carousel  End -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- carousel 2 -->
<div class="row">
  <div class="col-sm-4">
    <img class="d-block" src="../assets/man.jpg" alt="First slide" width="400" style="margin-left: 100px;">
  </div>
  <div class="col-sm-8">
    <div class="row mt-2" *ngFor="let data of jsonData">
      <div class="carousel-inner">
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
          <div class="carousel-item active">
            <div class="row" style="margin-left: 10px;">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <label class="macc">{{data.macc}} <span class="SELLINGS ">{{data.weekelyDiscount}}</span></label>
                </div>
                <div style="margin-right: 380px; margin-top: 0px;">
                  <button class="d-flex justify-content-end view viewAll">View all</button>
                </div>
              </div>
              <div class="col-sm-3 me-5" style="margin-left: 0px;">
                <img class="d-block" src="../assets/BodySpray.jpg" alt="First slide" width="300" height="350">
                <h5 class="card-title">{{data.bodySpray}}</h5>
                <h5 class="card-title">{{data.rupees}}</h5>
              </div>
              <div class="col-sm-3 ms-2">
                <img class="d-block" src="../assets/stayfree.jpg" alt="First slide" width="300" height="350">
                <h5 class="card-title">{{data.bodySpray}}</h5>
                <h5 class="card-title">{{data.rupees}}</h5>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-item active">
              <div class="row" style="margin-left: 10px;">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <label class="macc ">{{data.macc}} <span class="SELLINGS ">{{data.weekelyDiscount}}</span></label>
                  </div>
                  <div style="margin-right: 380px;
                  margin-top: 0px;">
                    <button class=" d-flex justify-content-end view viewAll">View all</button>
                  </div>
                </div>
                <div class="col-sm-3 me-5" style="margin-left: 0px;">
                  <img class="d-block" src="../assets/BodySpray.jpg" alt="First slide" width="300" height="350">
                  <h5 class="card-title">{{data.bodySpray}}</h5>
                  <h5 class="card-title">{{data.rupees}}</h5>
                </div>
                <div class="col-sm-3 ms-2">
                  <img class="d-block" src="../assets/stayfree.jpg" alt="First slide" width="300" height="350">
                  <h5 class="card-title">{{data.bodySpray}}</h5>
                  <h5 class="card-title">{{data.rupees}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"
            style="margin-left: 315px;margin-top: 25px;"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true" style="margin-left: -628px;
            margin-top: 7px;
        "></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- carousel 2 -->
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- carousel 3 start -->
<div class="row">
  <div class="col-sm-8">
    <div class="row mt-2" *ngFor="let data of jsonData">
      <div class="carousel-inner">
        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
          <div class="carousel-item active">
            <div class="row" style="margin-left: 85px;">
              <div class="d-flex justify-content-between">
                <div class="d-flex">
                  <label class="macc">{{data.macc}} <span class="SELLINGS ">{{data.topSellings}}</span></label>
                </div>
                <div style="margin-right: 310px;
                margin-top: 0px;">
                  <button class="d-flex justify-content-end view viewAll">View all</button>
                </div>
              </div>
              <div class="col-sm-3 me-5">
                <img class="d-block" src="../assets/BodySpray.jpg" alt="First slide" width="300" height="350">
                <h5 class="card-title">{{data.bodySpray}}</h5>
                <h5 class="card-title">{{data.rupees}}</h5>
              </div>
              <div class="col-sm-3 ms-2">
                <img class="d-block" src="../assets/stayfree.jpg" alt="First slide" width="300" height="350"
                  style="margin-left: 15px;">
                <h5 class="card-title ms-3">{{data.bodySpray}}</h5>
                <h5 class="card-title ms-3">{{data.rupees}}</h5>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel-item active">
              <div class="row" style="margin-left: 85px;">
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <label class="macc ">{{data.macc}} <span class="SELLINGS ">{{data.topSellings}}</span></label>
                  </div>
                  <div style="margin-right: 310px;
                  margin-top: 0px;">
                    <button class=" d-flex justify-content-end view viewAll">View all</button>
                  </div>
                </div>
                <div class="col-sm-3 me-5">
                  <img class="d-block" src="../assets/BodySpray.jpg" alt="First slide" width="300" height="350">
                  <h5 class="card-title ">{{data.bodySpray}}</h5>
                  <h5 class="card-title">{{data.rupees}}</h5>
                </div>
                <div class="col-sm-3 ms-2">
                  <img class="d-block" src="../assets/stayfree.jpg" alt="First slide" width="300" height="350"
                    style="margin-left: 15px;">
                  <h5 class="card-title ms-3">{{data.bodySpray}}</h5>
                  <h5 class="card-title ms-3">{{data.rupees}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"
            style="margin-left: 315px;margin-top: 25px;"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"
            style="margin-left: -489px;margin-top: 10px;"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <img class="d-block" src="../assets/man.jpg" alt="First slide" width="400" style="margin-left: -290px;">
  </div>
</div>
<!-- ---------------------------------------------------------------------------------------------------------------------------- -->
<!-- carousel 3 end -->
<div class=" d-flex justify-content-center mt-4" *ngFor="let data of jsonData">
  <h1 class="text-danger headingFont newProduct">{{data.covid}}<span class="text-black newProduct">
      {{data.guide}}</span>
  </h1>
</div>
<div class="d-flex justify-content-center " *ngFor="let data of jsonData">
  <h2><span class="sentenceheading1 me-2  HEAD">{{data.headingSentence1}}</span><br>
    <span class="sentenceheading1 ms-5 HEAD"> {{data.headingSentence2}}</span><br>
  </h2>
</div>

<!-- ----------------------------------------------------------------------------------------------------------------------------- -->
<!-- Footer -->
<div>
  <footer class="text-center text-lg-start bg-light text-muted ">
    <!-- Section: Links  -->
    <section class="background-color">
      <div class="text-md-start mt-5" *ngFor="let data of jsonData">
        <div class="row mt-3">
          <div class="col-md-3  mx-auto mb-4">
            <p class="mac me-4">
              Macc
            <p class="ess text-center ms-5">Essentials</p>
          </div>
          <div class="col-md-2  mx-auto mb-4">
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.home}}</a>
            </p>
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.collection}}</a>
            </p>
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.products}}</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-2 col-xl-2  mb-4">
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.about}}</a>
            </p>
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.contact}}</a>
            </p>
            <p class="text-black">
              <a href="#!" class="text-reset home">{{data.faq}}</a>
            </p>
          </div>
          <div class="col-md-4 text-black  mb-4">
            <p class="me-2"><i class="home"></i>{{data.headingSentence1}}</p>
            <p>
            </p>
            <div class="input-container">
              <span class="w-75"><input class="input-field input text-black w-75 p-2" type="text"
                  placeholder="Enter Your Email" name="email"><i class="pi pi-envelope mt-3"></i>
                <hr class="border-1 text-dark borderWidth">
              </span>
            </div>
            <div class="mt-4">
              <a href="" class="ms-2 twiter logo">
                <i class="fa fa-twitter" style='font-size:25px;'></i>
              </a>
              <a href="" class="ms-2 logo">
                <i class="fa fa-linkedin" style='font-size:25px;'></i>
              </a>
              <a href="" class="ms-2 logo">
                <i class="fa fa-facebook" style='font-size:25px;'></i>
              </a>
              <a href="" class="ms-2 logo">
                <i class="fa fa-instagram" style='font-size:25px;'></i>
              </a>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Copyright -->
    <div class="text-center p-4 reservedCase" style="background-color: rgba(0, 0, 0, 0.05);"
      *ngFor="let data of jsonData">
      {{data.footer}}
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- Footer End-->